:root {
  /* Fonts */
  --first-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --third-family: 'Racing Sans One', sans-serif;

  /* Colors */
  --prinary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --logo-first-world-color: #000000;
  --background-filters-color: #f5f4fa;
}

body {
  font-family: var(--first-family);
  letter-spacing: 0.03em;
  color: var(--prinary-text-color);
  background-color: var(--white-color);
}

/* Container */

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid darkblue;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Header */
/* logo */

.logo {
  text-decoration: none;
}
.first-word-logo,
.two-word-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.two-word-logo {
  color: var(--logo-first-world-color);
}

/* Studio page */

/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
}
/* Site-nav  */

.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.header-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--prinary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: yellowgreen;
}

/* Header-contacts */

.header-contacts {
  display: flex;
  margin-left: auto;

  text-decoration: none;
  color: var(--secondary-text-color);
}

.header-contacts .item + .item {
  margin-left: 30px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  margin-bottom: 94px;

  text-align: center;
  background-color: violet;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  outline: 2px solid green;
}

.hero-button {
  margin-bottom: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Section */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  text-align: center;
}

/* Feature */

.feature {
  margin-top: 0;
  margin-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-image {
  margin-bottom: 10px;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.feature-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

/* Our work */

.work {
  margin-top: 0;
  margin-bottom: 94px;
}

.work-description {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: chocolate;
}

/* Our team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: violet;
}

.team-image {
  margin-bottom: 30px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
}

.team-description {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  color: #757575;
}
.social-networks {
  margin-top: 0;
  margin-bottom: 24px;
}

.team-list li:last-child .social-networks {
  margin-bottom: 0;
}

.social-networks .link {
  text-decoration: none;
}

/* Portfolio page */

.button {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.filters button {
  color: var(--prinary-text-color);
  background-color: var(--background-filters-color);
}

.filters button:hover,
.filters button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfilio-image {
  margin-bottom: 20px;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-description {
  margin: 0;

  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.portfolio-card {
  margin: 0;

  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  background-color: chocolate;
}

/* Footer */

footer address {
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
  background-color: chocolate;
}

.footer-contacts .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
  background-color: chocolate;
}

.social-media .link {
  text-decoration: none;
}

footer b {
  background-color: chocolate;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-email {
  background-color: chocolate;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: inline-block;
  min-width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  border-radius: 4px;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
}

footer .icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;

  background-color: var(--white-color);
}
