  a {
    text-decoration: none;
  }

:root {
  --prinary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --logo-first-world-color: #000000;
  --background-filters-color: #f5f4fa;
}

body {
  color: var(--prinary-text-color);
  background: var(--white-color);

  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* logo */

.logo1 {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.logo2 {
  color: var(--logo-first-world-color);
  font-family: Raleway, sans-serif;
}

/* Studio page */
/* Site nav */

.site-nav .link {
  color: var(--prinary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: yellowgreen;
}

/* Contacts */

.contacts .link {
  color: var(--secondary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

/* .hero-title {

} */

/* Section */

/* .section-title {
  
} */

.description {
  color: var(--secondary-text-color);
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Portfolio page */

.filters button {
  color: var(--prinary-text-color);
  background-color: var(--background-filters-color);
}

.filters button:hover,
.filters button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
